.App {
  text-align: center;
}

.background {
  background-color: black;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes navColor {
  from {color: #339999;}
  to {color: #EEEEEE;}
  from {background-color: #EEEEEE44;}
  to {background-color: #002222;}
}

.navlink {
  color: #339999;
  font-size: 14pt;
  text-decoration: none;
  padding: 15px;
  border-radius: 30px;
}

.navlink:hover {
  background-image: radial-gradient(circle, #EEEEEE33, #00222211);
  animation-name: navColor;
  animation-duration: 2s;
  animation-iteration-count: infinite;
  animation-direction: alternate-reverse;
}

nav {
  background-color: #002222;
  padding: 20px;
}

.pagecontainers {
  background-color: #002222;
  background-image: radial-gradient(circle, #00222233, #EEEEEE22);
  color: #339999;
  text-align: center;
  margin: 50px;
  padding: 10px;
}

.projectcontainers {
  background-color: #002222;
  background-image: linear-gradient(to right, #EEEEEE22, #00222233, #EEEEEE22);
  color: #339999;
  text-align: center;
  margin: 50px;
  padding: 10px;
}

.linklogos {
  height: 30px;
  width: 30px;
  padding: 7px;
}

@keyframes icons {
  from {
      transform:rotate(0deg);
      opacity: 1
  }
  to {
      transform:rotate(720deg);
      opacity: 0.5
  }
}

.linklogos:hover {
  animation-name: icons;
  animation-duration: 1.5s;
  opacity: 0.5
}

.demopics {
  width: 480px;
  height: 300px;
}

.project {
  margin-left: 25%;
  margin-right: 25%;
  margin-bottom: 40px;
  padding: 20px;
  background-color: #002222;
  box-shadow: 1px 1px #002525;
}

.info {
  background-color: #DDFFFF;
  color: #002222;
  border-radius: 5px;
  font-family: 'arial'
}
